$colorBlue: #1a5f75;
$white: #fefefe;

body {
  font-family: 'Roboto', sans-serif;
  background: #f2f2f2;
}

h1 {
  color: $white;
  font-size: 36px;
  margin-left: 50px;
}

h3 {
  margin-left: 40px;
  padding-top: 40px;
}

.under_title {
  margin-left: 110px;
  font-size: 15px;
  color: $white;
}

.right_under_title {
  margin-left: 50px;
  font-size: 15px;
  color: $white;
}

.fa-envira {
  padding-right: 20px;
}

.fa-search {
  color: grey;
}

.fa-search:hover {
  color: white}


.logo {

  width: auto;
  background: $colorBlue;
  color: $white;
.site_logo {
  position: absolute;
  left: 200px;
  top: 15px;
 font-size: 18px;
  text-transform: uppercase;

}

  .input-group {
    margin-top: 7px;
    .fa-map-marker {
      color:red;
    }
    .fa-map-marker:hover {
      color: white;
    }
  }
   .messages {
     position: absolute;
     top: 7px;
     right: 20px;
     color: #000;
     font-size: 25px;
     cursor: pointer;
     letter-spacing: 10px;
   }
}

.background__picture {
  background: url(../img/slide3.jpg) no-repeat;
  background-size: cover;
  height: 500px;
  width: auto;
}

.gradient {
  background: linear-gradient(to bottom, #dfdfdf, #3d3d3d);
  width: 100%;
  height: 100%;
  opacity: .6;
}

.main {
  margin-top: -220px;
  padding-bottom: 200px;
  box-sizing: border-box;

  &__words {
    background: #fff;
    width: auto;
    padding-bottom: 50px;
    margin-top: 55px;
    box-shadow: grey 0 0, 3px 3px 10px;
    font-size: 15px;

    p {
      width: 73%;
      margin-left: 100px;
      padding-top: 20px;
    }
  }

  &__next__words {
    padding-bottom: 50px;
    width: auto;
    background: #ffffff;
    margin-top: 20px;
    box-shadow: grey 0 0, 3px 3px 10px;
  }

  &__faq {
    padding-top: 50px;
    margin-left: 60px;
    font-size: 20px;
    font-weight: 700;
  }
}

.fa-graduation-cap {
    margin-right: 10px;
}

.banner {
  background: #fff;
  width: 245px;
  height: 420px;
  box-shadow: grey 0 0, 3px 3px 10px;
  margin-top: 55px;
  position: relative;

  &__map {
    position: absolute;
    left:24px;
    bottom: 10px;
    color: #979797;

    .fa-map-marker {
      color: #979797 !important;
      padding-right: 15px;

    }

    span {
      margin-left: 30px;
    }
  }

  &__school {
    position: absolute;
    top: 202px;
    left: 14px;
    width: 210px;

  }
  &__text {
    font-size: 15px;
    border-bottom: solid grey 1px;
    padding-bottom: 25px;
  }

  &__title {
    font-weight: 700;
    margin-left: 14px;
    .fa-check-square {
      padding-right: 15px;

    }
    span {
      margin-left: 30px;
    }

  }


  .fa {
    color: $colorBlue;
    font-size: 20px;
  }
  .fa-star-o {
    position: absolute;
    top: 14px;
    right: 25px;

  }

  &__photo {
    position: absolute;
    top: 52px;
    left: 14px;
  }

  &__logotype {
    position: absolute;
    width: 86px;
    height: 86px;
    box-shadow: grey 0 0, 3px 3px 10px;
    left: 22px;
    top: -15px;
    border-radius: 6px;
    background: #fff;
    img {
      display: block;
      margin: 10px auto;
    }
  }
}



